<h1>Products </h1>
<%= link_to "New Product", "/products/new" %>

<% @products.each do |product| %>
  <p>Name: <%= link_to product.name, "/products/#{product.id}" %><br>
		 Description: <%= product.description %> <br>
		 Price($): <%= product.formatted_price %></p>
		 <%= link_to 'Edit', "/products/#{product.id}/edit" %>
		 <br>
		 <br>
<% end %>
</div>
